
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div {
    width: 50vw;
    height: 50vh;
    background-color: violet;
}





@media screen and (min-width: 400px) {

    div {
        background-color: skyblue;
    }

}

@media screen and (min-width: 500px) {

    div {
        background-color: greenyellow;
    }

}